
html{
  margin: 0;
  padding: 0;
  overflow: hidden auto;
}
body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  /* justify-content: center; */
  align-items: center;
  background: #0d171b;
  flex-direction: column;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-content > div {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background: #1b2022;
  padding: 17px;
  align-items: center;
  border-radius: 10px;
  margin: 0 18px;
  margin: 7px 0;
  width: fit-content;
  gap: 10px;
  color: #dadada;
}
.App-content > div > img {
  max-height: 200px;
}
